.box {
    position: absolute;
    width: 420px;
    height: 100%;
    right: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: #FFFFFF;
    transition: 3s;
}

.cadastro {
   
    width: 80%;
    height: 100%;
    text-align: center;
}

.cadastro>h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: 0.055em;
    color: #1C5F85;
    
}
.cadastro>label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    font-size: 14px;

}

h2 {
    position: absolute;
    margin: 40px 60px;
    left: 0;
    font-family: Orkney;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.055em;
    color: #fff;
    mix-blend-mode: normal;
}

h2>span {
    font-family: Orkney;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.055em;
    color: #F4D03F;
    mix-blend-mode: normal;
}

.pg_select {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.btn {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    color: #1C5F85;
    margin: 0px 30px;
    background: none;
    border: none;
    outline: none;
    padding: 10px 0;
}
.btn_cad{
    padding: 6px 20px;
    color: #fff;
    background: #1C5F85;
    border-radius: 20px;
    border: none;
}
.btn_log{
    padding: 6px 20px;
    color: #fff;
    background: #afafaf;
    border-radius: 20px;
    border: none;
}
.btn_log:hover {
    background: #2c6d92;
}
.box_produtos{
    transform: translateX(600px);
    transition: 3s;
}

.txt_capa {
    position: absolute;
    width: 449px;
    height: 78px;
    left: 10%;
    top: 200px;
    text-align: left;
    font-size: 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.055em;
    color: #FFFFFF;
}

.sub_titulo {
    position: absolute;
    width: 449px;
    height: 78px;
    left: 10%;
    top: 280px;
    text-align: left;
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 240;
    line-height: 150%;
    letter-spacing: 0.055em;
    color: #fff;
}

.btn_pg {
    position: absolute;
    outline: none;
    left: 10%;
    top: 380px;
    padding: 12px 38px;
    border-radius: 20px;
    font-size: 12px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.055em;
    color: #000000;
}

.cli {
    border: none;
    background-color: #F4D03F;
}

.mer {
    border: 1px solid#fff;
    background: none;
    color: #fff;
    margin-left: 140px;
    transition: .4s;
}
.mer:hover{
   transform: scale(.94);
}
.fas{
  position: absolute;
  font-size: 50px;
  bottom: 100px;
  left: 240px;
  color: #CACFD2  ;
  transition: 1s;
}
.fas:hover{
    color:  #626567;
}
.box_user{
    width: 100%;
}
.txt{

    position: relative;
    height: 50px;

    overflow: hidden;
}
.txt input {  
    width: 100%;
    height: 100%;
    color: #595f6e;
    border: none;
    padding-top: 20px;

}
.txt label{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid#c4c4c4;
}
.txt label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: all 0.3s ease ;
}

.content-name{
    position: absolute;
    font-size: 12px;
    color: #c4c4c4;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.txt input:focus + .label-name .content-name,
.txt input:valid + .label-name .content-name{
    transform: translateY(-150%) ;
    font-size: 14px;
    color: #5fa8d3;
}
.txt input:focus + .label-name::after, 
.txt input:valid + .label-name::after{
    transform: translateX(0%);
}
.txt1 label{
    position: absolute;
    left: 0px;
}
.remember{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
}
.remember label{
    font-size: 12px;

    color: #afafaf;
}
.remember input{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: #c4c4c4
    
}
.remember input:checked + label{
    color: #114361;
}
.remember a{
    font-size: 12px;
    color: #afafaf;
}
.remember a:hover{
    color: #114361;
}
.content_cad{
    display:flex;
    margin: 60px;
    justify-content: center;
    align-items: center;
}
.submit{
    position:absolute;
    
    padding: 10px 20px;
    

    color: #fff;
    font-weight: bold;
    background: #d3d3d3;
    border:none;
    border-radius: 40px;
    transform: translate(-50%);
    transition: all 0.3s ease;

    bottom: 60px;
}

.next{
    position: absolute;
    transform: translate(-50%);
    margin-top: 80px;
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    background: #1C5F85;
    color: #fff ; 
}
.content-modal{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 2s;
    background: rgba(0,0,0,.8);
    
}
.modal{
    transition: 2s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px ;
    width: 500px;
    height: 580px;
    background: #fff;
    
}
.modal h4{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background:#F4D03F;
    color: #fff;
}

#send_estados option{
    color: #fff;
}
.datas{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    font-family: Arial, Helvetica, sans-serif;
    
}
.datas form label{
    color:  #1C5F85;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    
}
.datas form input{
    color: #114361;
    padding: 4px;

    border: none;
    border-bottom: 1px solid #114361;
}
#cep{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
#cidade{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
#uf{
    text-align: center;
    width: 100%;
    margin: 10px 0;
    background: #1C5F85;
    border: none;
    padding: 4px;
    border-radius: 10px;
    color: #fff;
}
#bairro{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
#cidade{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
#logradouro{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
#numero{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    
}
#descricao{
    text-align: initial;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    border: .6px solid #114361;
    border-radius: 10px;
}
.btn_send {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 30px;
    padding: 8px 40px;
    background: #F4D03F;
    border-radius: 20px;
    border: none;
    font-weight: bold;

}
.box_cat{
    margin-top: 30px;
    text-align: left;

}
.box_cat h4{
    width: 100%;
    margin-bottom: 8px;
    font-weight: 100;
    color: #acabab;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.cat{
    width: 140px;
    padding: 15px;
    border: 1px solid#c4c4c4;
    border-radius: 20px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;

}
.cat div {
    margin: 10px 0;
    
}
.cat div label{
    margin: 10px 0;
    color:#595f6e;
}
.cat div input{
   float: left;
   margin-right: 20px;
}
.meio{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.preco_prod input{
    width: 30%;
    padding: 8px;
    margin: 4px 6px;
    border: none;
    border-bottom: 1px solid #acabab ;
}
.preco_prod label{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 10px;
   font-size: 14px;
   color: #acabab;
}
.add_img{
    position: relative;
    margin-top: 6px;
}
.add_img label{
    margin-bottom: 4px;
    color: #acabab;

}
.img_prod{
    display: flex;
    justify-content:center;
    align-items: center;
    border: 1px solid #acabab;
    width: 100%;
    height: 140px;
    border-radius: 20px;
}
.img_prod img{
    width: 80px; 
    height: 80px; 
    opacity: .4;
}
.confirm_prod{
    position: absolute; 
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    border: none;
    padding: 10px 20px;
    background: #1C5F85;
    color: #fff;
    border-radius: 20px;
}
input[type="file"]{
    display: none;
}
.fileUploaded{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 10px;
    background: #114361;
    border-radius: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}